[submodule "software/libMcuLL"]
	path = software/libMcuLL
	url = https://github.com/Squantor/libMcuLL.git
[submodule "software/squantorLibEmbeddedC"]
	path = software/squantorLibEmbeddedC
	url = https://github.com/Squantor/squantorLibEmbeddedC.git
[submodule "software/squantorLibC"]
	path = software/squantorLibC
	url = https://github.com/Squantor/squantorLibC.git
